#img{
    width: 2vw;
    height: 30px;
    margin: 0px;
}

.Eduardo{
    width: 25vw;
    background-color: #214A68;
    display: flex;
    flex-direction: column;
}

.home {
   background: #cbc2c2;
   height: 50px;
}

ol{
    width: 22vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

li{
    width: 11;
    display: flex;
    font-family: 'Inter';
    font: 700;
    color: white;
    margin-left: 3vw;
}

main {
    display: flex;
    flex-direction: row;
}


