.eduardo #img{
    width: 2vw;
    height: 30px;
    margin: 0px;
}

.eduardo{
    width: 25vw;
    background-color: #214A68;
    display: flex;
    flex-direction: column;
}

.Eduardo .home {
   background: #cbc2c2;
   height: 50px;
}

.eduardo .home:hover {
    background: #032c4aad;
 }

 .eduardo .home_text{
    width: 11vw;
    display: flex;
    font-family: 'Inter';
    font: 700;
    color: white;
    margin-left: 3vw;
}

.eduardo .home_text:hover{
    font-weight: 800;
    color: rgb(228, 227, 238);
}

.eduardo ol{
    width: 22vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.eduardo ol:hover{
    color: white;
    background-color: rgb(141, 140, 148);

}

.eduardo li{
    width: 11vw;
    display: flex;
    font-family: 'Inter';
    font: 700;
    color: white;
    margin-left: 3vw;
}

.eduardo li:hover{
    font-weight: 900;
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: row;
}


