@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600;700;800&display=swap');

.eduardo #img {
    width: 3vw;
    margin: 2vw;
}

.eduardo {
    width: 25vw;
    background-color: #214A68;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.eduardo #action,
#battle,
#fight,
#racing,
#sci,
#shooting,
#sports,
#strategy {
    width: 25vw;
}

.eduardo .div_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    background: #032c4aad;
    height: 50px;
}

.eduardo .div_home {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    background: #032c4aad;
    height: 50px;
}

.eduardo .div_home-ativo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    background: #cbc2c2;
    height: 50px;
}

.eduardo .home {
    cursor: pointer;
    background-color: #032c4aad;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    padding: 0%;
    color: white;
    width: 20vw;
    height: 50px;
    font-family: 'Inter';
    font-size: 1.5vw;
}

.eduardo .home-ativo {
    cursor: pointer;
    background: #cbc2c2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    padding: 0%;
    color: white;
    width: 20vw;
    height: 50px;
    font-family: 'Inter';
    font-size: 1.5vw;
}

.eduardo .botao_menu{
    background-color: #214A68;
    display: flex;
    justify-content: flex-start;
    border: 0;
    padding: 0%;
    color: white;
    width: 25vw;
    height: 50px;
    font-family: 'Inter';
    font-size: 2vw;
}

.eduardo .botao_menu:hover{
    cursor: pointer;
    background: #cbc2c2;
    background-position: 0px 10px;
    
}

.eduardo .botao_menu-ativo {
    background: #cbc2c2;
    display: flex;
    justify-content: flex-start;
    border: 0;
    padding: 0%;
    color: white;
    width: 25vw;
    height: 50px;
    font-family: 'Inter';
    font-size: 2vw;
}


.eduardo div {
    width: 25vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

main {
    display: flex;
    flex-direction: row;
}