@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600;700;800&display=swap');

.eduardo #img {
    width: 3vw;
    margin: 2vw;
}

.eduardo {
    width: 25vw;
    background-color: #214A68;
    display: flex;
    flex-direction: column;
}

.eduardo #action,
#battle,
#fight,
#racing,
#sci,
#shooting,
#sports,
#strategy {
    width: 25vw;
}

.eduardo .home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    background: #032c4aad;
    height: 50px;
}

.eduardo #bot_home {
    background-color: #032c4aad;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    padding: 0%;
    color: white;
    width: 20vw;
    height: 50px;
    font-family: 'Inter';
    font-size: 1.5vw;
}

.eduardo #bot_home:focus {
    cursor: pointer;
    background: #cbc2c2;
    background-position: 0px 10px;
}

.eduardo #bot_action,
#bot_battle,
#bot_figtht,
#bot_racing,
#bot_sci,
#bot_shooting,
#bot_sports,
#bot_strategy {
    background-color: #214A68;
    display: flex;
    justify-content: flex-start;
    border: 0;
    padding: 0%;
    color: white;
    width: 25vw;
    height: 50px;
    font-family: 'Inter';
    font-size: 2vw;
}

.eduardo #bot_action:focus,
#bot_battle:focus,
#bot_figtht:focus,
#bot_racing:focus,
#bot_sci:focus,
#bot_shooting:focus,
#bot_sports:focus,
#bot_strategy:focus {
    cursor: pointer;
    background: #cbc2c2;
    background-position: 0px 10px;
}

.eduardo div {
    width: 25vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

main {
    display: flex;
    flex-direction: row;
}