.ThiagoImgFavoritos{
    width: 100%;
    max-width: 200px;
    flex-direction: row;
    border-radius: 5px;
}

.ThiagoImgFavoritos:hover{
    transform: scale(1.05);
    filter: drop-shadow(0px 2px 2px rgba(255, 255, 255, 0.40));
}
.trash_favorites{
    width: 3vw;
    align-items: flex-end;
    padding-left: 3vw;
}
.trash_favorites:hover{
    cursor: pointer;
    transform: scale(1.3);
    filter: drop-shadow(0px 2px 2px rgba(255, 255, 255, 0.40));
}
.ThiagoPopupFavorites{
    display: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    flex-direction: column;
    background-color: rgb(31, 85, 124);
    align-items: center;
    padding: 5px;
    padding-top: 15px;
    width: 25vw;
    max-width: 400px;
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 20;
    border-radius: 20px;
}
.organize_header{
    display: flex;
    flex-direction: row;
   gap: 60px;
}
.close_favorites{
    position: absolute;
    right: 8px;
    border: none;
    background-color: #1f557c;
    color: red;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}
.thiagolink_favorites{
    text-decoration: none;
}
.ThiagoTitleFavoritos{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2vw;
}
.thiagoname_favorite{
    display: flex;
    flex-wrap: wrap;
   text-align: center;
    margin: 0.2vw;
    font-size: 1vw;
    color: white;
    font-weight: normal;
}
.ListaFavoritos{
    flex-direction: row;
}
.thiagoOrganizafavoritos{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.ThiagoImgFavoritos{



}
.close_favorites_div{
    cursor: pointer;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
body{
    position: relative;
}