@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.Rafael {
    width: 100%;
    height: 100px;
    background-color: #082032;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Rafael figure,
.Rafael div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Rafael .botao-ativo {
    transition: all .25s;

    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    width: 9vw;
    height: 48px;

    background: rgba(245, 245, 245, 0.25);

    border-radius: 3px;
    border: solid 4px rgb(68, 68, 68);
    border-top: none;
    border-right: none;
    border-left: none;
}

.Rafael .botao-padrao {
    transition: all .75s;

    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 27px;

    width: 9vw;
    height: 48px;
    border: hidden;
    border-radius: 3px;
    background: none;


    cursor: pointer;
}

.Rafael .botao-padrao:hover {
    background: rgba(245, 245, 245, 0.25);
    transition: all .25s;
}

.Rafael #area_1 {
    margin-right: 9vw;
    gap: 15px;
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.Rafael #area_2 {
    margin-right: 7vw;
    gap: 5vw;
}

.Rafael #area_3 {
    margin-right: 5vw;
}

.Rafael #logo {
    width: 48px;
    height: 48px;
}

.Rafael .botao-favorito-padrao {
    transition: all .75s;

    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    width: 125px;
    height: 48px;
    border: hidden;
    border-radius: 3px;
    background: none;

    background-position: 3px 12px;
    background-image: url(../img/header/star_header.png);
    background-repeat: no-repeat;
    text-align: end;
}

.Rafael .botao-favorito-padrao:hover {
    background: rgba(245, 245, 245, 0.25);
    background-image: url(../img/header/star_header.png);
    background-position: 3px 12px;
    background-repeat: no-repeat;
}

.Rafael .botao-favorito-ativo {
    transition: all .25s;

    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    width: 125px;
    height: 48px;

    background: rgba(245, 245, 245, 0.25);

    border-radius: 3px;
    border: solid 4px rgb(68, 68, 68);
    border-top: none;
    border-right: none;
    border-left: none;


    background-image: url(../img/header/star_header.png);
    background-position: 3px 10px;
    background-repeat: no-repeat;
    text-align: end;
}

.Rafael .botao-favorito-ativo:hover {
    background-image: url(../img/header/star_header.png);
    background-position: 3px 10px;
    background-repeat: no-repeat;
}