.tailyne-footer{
    width: 100vw;
    height: 65px;
    background-color: #082032;
}

#botaoFechar{
    border: 0px;
    background-color: transparent;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    
}

.filtro{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: none;
    margin-top: 80px;
    margin-left: 300px;
    position: absolute;
    z-index: 30;
    gap: 15px;
    
}